@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes open-nav {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.mobile-nav {
  animation: open-nav 0.3s linear;
}
